<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for RUM" Description="These rules are for the VS static analyzer." ToolsVersion="16.0">
  <IncludeAll Action="Error" />
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C26812" Action="None" />
  </Rules>
</RuleSet>